<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="styleSection" type="MyConfig.StyleSection, MyConfig"/>
  </configSections>

  <styleSection>
    <Styles>
      <Style stylecategory="Headings"
               displayname="H1"
               valuename="Heading 1"/>
      <Style stylecategory="Headings"
               displayname="H2"
               valuename="Heading 2"/>
      <Style stylecategory="Body"
         displayname="H5"
         valuename="Heading 5"/>
    </Styles>
  </styleSection>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>